/* Variabelen*/
:root {
    --hoofdkleur: #FFFFFF;
    --contrastkleur: #000000;
    --contrastkleur2: #323232;
    --contrastkleur3: #313639;
    --contrastkleur4: #191f22;
    --contrastkleur5: #959899;
    --contrastkleur6: #d5001c;
    --contrastkleur7: #c8cacb;
    --schaduw: rgba(0, 0, 0, .14) 0 0 8px 0;
    /*    0 5px 5px -2.5px rgba(0,0,0,.2);*/
    --border: 1px solid #ccc;
}

/* Generic styling */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Porsche Next TT', 'Arial Narrow', sans-serif;
}

body {
    max-width: 120em;
    margin: 0 auto;
}

h1 {
    font-size: 1.9rem;
    font-weight: 600;
}

h2 {
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

p {
    font-weight: 400;
}

ul,
ol {
    list-style-type: none;
}

li {}

a {
    color: var(--contrastkleur);
    text-decoration: none;
}

a:link {}

a:visited {}

a:hover,
a:focus {}

a:active {}

button {}

/* form styling */
form {}

select {
    color: var(--hoofdkleur);
    font-size: 1em;
    font-family: 'Porsche Next TT', 'Arial Narrow', sans-serif;
    outline: none;
    border-radius: 0;
    appearance: none;
    outline: none;
    border: none;
}

fieldset {}

legend {}

label {}

input {}

input:invalid {}

/* Section styling */
header {}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    position: relative;
    padding-right: .8em;
}

header nav a img {
    background-color: var(--hoofdkleur);
    height: 5.1em;
    box-shadow: var(--schaduw);
    width: 6.4em;
    margin: 0 0 0 .4em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

header nav ul {
    display: flex;

}

header nav ul li {
    padding: 0 1.1em
}

header nav ul li:first-of-type {
    border-right: 1px solid #ccc;
}

main {}

main button {}


/* Slider section */
.main_slider {
    position: relative;
}

.main_slider ol:first-of-type {
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: scroll;
    width: 100%;
    height: 26em;
    overflow-y: hidden;
}

.main_slider ol:first-of-type li {
    scroll-snap-align: start;
    min-width: 100%;
    position: relative;
    height: 26em;
}

.main_slider ol:first-of-type li img {
    object-fit: cover;
    /*    object-position: 50% 0%;*/
    width: 100%;
    height: 100%;
}

.main_slider ol:first-of-type li:first-of-type h1 {
    color: var(--contrastkleur);
    position: absolute;
    left: 8%;
    top: 5%;
}

.main_slider ol:first-of-type li:first-of-type p {
    color: var(--contrastkleur);
    position: absolute;
    left: 8%;
    top: 15%;
    font-size: 1.3em;
    width: 85%;
    line-height: 1.3em;
}

.main_slider ol:first-of-type li h1:before {
    content: ">";
    color: var(--contrastkleur6);
    position: absolute;
    left: -.7em;
}

.main_slider ol:first-of-type li h1 {
    color: var(--hoofdkleur);
    position: absolute;
    left: 8%;
    bottom: 15%;
}

.main_slider ol:first-of-type li p {
    color: var(--hoofdkleur);
    position: absolute;
    left: 8%;
    bottom: 10%;
    font-size: 1.3em;
    width: 90%;
    line-height: 1.3em;
}

/* Bolletjes main slider */

.main_slider ol:last-of-type {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: .8em;
}

.main_slider ol:last-of-type li {
    background-color: var(--contrastkleur7);
    width: .5em;
    height: .5em;
    border-radius: 50%;
    margin: .5em;
    cursor: pointer;
}

.main_slider ol li.slider_active {
    background-color: var(--contrastkleur6);
    cursor: default;
}

/* Modellen section */

.modellen ul {
    display: flex;
    flex-wrap: wrap;
}

.modellen ul li {
    flex-basis: 50%;
    position: relative;
    cursor: pointer;
}

.modellen ul li img {
    width: 100%;
    height: 100%;
}

.modellen ul li h3:before {
    content: ">";
    color: var(--contrastkleur6);
    position: absolute;
    left: -.7em;
}

.modellen ul li:hover h3 {
    color: var(--contrastkleur6);
}

.modellen ul li h3 {
    color: var(--hoofdkleur);
    position: absolute;
    bottom: 2.5em;
    left: 15%;
    transition: color .3s;
}

.modellen ul li p {
    color: var(--hoofdkleur);
    position: absolute;
    bottom: 1em;
    left: 15%;
    font-size: 0.8em;
    width: 75%;
}


/* Actueel section*/

.actueel {
    padding: 1.5rem;
    position: relative;
}

.actueel h2 {
    padding: 0 0 1.5rem 0;
}

.actueel ol:first-of-type {
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: scroll;
    width: 100%;
}

.actueel ol:first-of-type li {
    scroll-snap-align: start;
    min-width: 100%;
    transition: color .3s;
    cursor: pointer;
/*    position: relative;*/
}

.actueel ol:first-of-type li:hover {
    color: var(--contrastkleur6);
}

/*
.actueel ol:first-of-type img:after {
    content: "";
    width: 100%;
    background-color: var(--contrastkleur6);
    height: 2em;
    position: absolute;
    left: 0;
    bottom: 100%;
    z-index: 100;
}
*/

.actueel ol:first-of-type li img {
    width: 100%;
}

.actueel ol:first-of-type li p:before {
    content: ">";
    color: var(--contrastkleur6);
    font-weight: 900;
    margin-right: .5em;
}


/* Bolletjes actueel slider */

.actueel ol:last-of-type {
    display: flex;
    justify-content: center;
    width: 100%;
}

.actueel ol:last-of-type li {
    background-color: var(--contrastkleur3);
    width: .5em;
    height: .5em;
    border-radius: 50%;
    margin: .5em;
    cursor: pointer;
}

.actueel ol li.slider_active {
    background-color: var(--contrastkleur6);
    cursor: default;
}


/* Porsche Social section */

.social {
    background-color: var(--contrastkleur2);
    color: var(--hoofdkleur);
    padding: 1.5rem;
    text-align: right;
}

.social h2 {
    padding: 0 0 1.5rem 0;
    text-align: left;
}

.social ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.social ul li {
    flex-basis: 50%;
    flex-grow: 1;
    padding: .1em;
}

.social ul li img {
    width: 100%;
    height: 100%;
}

.social .pijl {
    margin-right: .6em;
}

.social a {
    border: var(--border);
    padding: .8em 1.3em;
    color: var(--hoofdkleur);
    display: inline-block;
}

.social a:hover {
    border-color: var(--contrastkleur6);
    color: var(--contrastkleur6);
}

/* servide en advies section*/

.service_advies {
    padding: 1.5rem
}

.service_advies h2 {
    padding: 0 0 1.5rem 0;
}

.service_advies ul {
    display: flex;
    flex-wrap: wrap;
    /*    flex-direction: row-reverse;*/
}

.service_advies ul li {
    position: relative;
    flex-grow: 1;
    /*    flex-basis: 50%;*/
    height: 11em;
    /*    min-width: 100%;*/
    /*    overflow-y: hidden;*/
}

.service_advies ul li img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    /*    overflow-y: hidden;*/
}

.service_advies ul li h3:before {
    content: ">";
    color: var(--contrastkleur6);
    position: absolute;
    left: -.7em;
}

.service_advies ul li h3 {
    position: absolute;
    left: 1em;
    bottom: 1em;
    color: var(--hoofdkleur);
    transition: color .3s;
}

.service_advies ul li:hover h3 {
    color: var(--contrastkleur6);
}


footer {}

/* drop-down links */

.related_links {
    padding: 1.5rem;
}

/* links ingeklapt */
.links {
    margin-bottom: 3em;
}

.links > li:first-of-type span {
    border-top: var(--border);
}

.links > li {
    position: relative;
    cursor: pointer;
}

.links > li > span {
    padding: .7em 0;
    font-size: 1.1em;
    font-weight: 600;
    border-bottom: var(--border);
    display: block;
/*    position: relative;*/
    width: 100%;
}

.links > li > span:after {
    content: "↓";
    position: absolute;
    right: 0;
    top: .7em;
}

/* Dropdown uitgevouwd */

.links .links_uitgevouwd ul {
    display: block;
}

.links .links_uitgevouwd span:after {
    content: "↑";
}


/* links uitgeklapt */
.links ul {
    display: none;
}

.links ul li {
    font-weight: 300;
    padding: 1em 0;
}

.links ul li:hover {
    color: var(--contrastkleur6)
}



/* Iconen lijst */

.related_links h4 {
    color: var(--contrastkleur5);
}

.icons {
    display: flex;
}

.icons li {
    background-color: var(--contrastkleur3);
    width: 3.1em;
    height: 3.1em;
    margin-right: .5em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons li img {
    width: 1.5em;
}

/* Disclamer */

.disclamer {
    padding: 1.5rem;
    background-color: var(--contrastkleur4);
    color: var(--hoofdkleur);
}

.regio_form {
    margin-bottom: 1.5em;
}

.regio_form label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 1.5rem;
}

.regio_form select {
    /*    https://stackoverflow.com/questions/33476762/reset-remove-all-styles-for-input-select-and-button-across-all-browsers-includi*/
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /*    -----*/
    width: 100%;
    padding: .8em;
    background-color: var(--contrastkleur3);
    margin-bottom: .5em;
}

.regio_form option {
    /*    background-color: var(--hoofdkleur);*/
    /*    margin-right: 1em;*/
}


.disclamer p {
    margin-bottom: 1.5em;
}

.disclamer a {
    color: var(--hoofdkleur);
    text-decoration: underline;
}

/* Breakpoints */
@media all and (min-width: 30em) {}

@media all and (min-width: 60em) {
    .modellen ul li {
        flex-basis: 33.333%;
    }
}

@media all and (min-width: 90em) {
    html:before {
        content: "Bekijk deze site op mobiel";
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 100%;
        color: var(--contrastkleur);
        font-family: 'Porsche Next TT', 'Arial Narrow', sans-serif;
        font-size: 6vw;
        visibility: visible;
        background-color: var(--hoofdkleur);
        pointer-events: all;
        z-index: 100;
        overflow: hidden;
        font-weight: 900;
        opacity: 0.8;
    }

    body {
        overflow: hidden;
    }
}
