/* Variabelen*/
:root {
    --hoofdkleur: #FFFFFF;
    --contrastkleur: #000000;
    --contrastkleur2: #323232;
    --contrastkleur3: #313639;
    --contrastkleur4: #191f22;
    --contrastkleur5: #959899;
    --contrastkleur6: #d5001c;
    --contrastkleur7: #c8cacb;
    --contrastkleur8: #eff0f1;
    --contrastkleur9: #15577e;
    --schaduw: 0 0 8px 0 rgba(0, 0, 0, .14);
    --schaduw2: 0 5px 5px -2.5px rgba(0, 0, 0, .2);
    --schaduw3: 5px 4px 10px 0 rgba(0, 0, 0, .2);
    --border: 1px solid #ccc;
    --btnpadding: .8em 1.3em;
    --mainpadding: 1.5rem;
    --headingpadding: 0 0 1.5rem 0;
}

/* Generic styling */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Porsche Next TT', 'Arial Narrow', sans-serif;
}

body {
    max-width: 120rem;
    margin: 0 auto;
}

section {
    position: relative;
}

h1 {
    font-size: 1.9em;
    font-weight: 600;
}

h2 {
    padding: var(--mainpadding);
    font-size: 1.5em;
    font-weight: 600;
}

h3 {
    font-size: 1.3em;
    font-weight: 600;
}

h4 {
    font-size: 1.2em;
    font-weight: 600;
}

p {
    font-weight: 400;
    line-height: 1.5rem;
}

ul,
ol {
    list-style-type: none;
}

li {}

a {
    color: var(--contrastkleur);
    text-decoration: none;
}

video,
iframe {
    width: 100%;
    display: block;
}

iframe {
    border: none;
}

/* form styling */
select {
    color: var(--hoofdkleur);
    font-size: 1rem;
    font-family: 'Porsche Next TT', 'Arial Narrow', sans-serif;
    outline: none;
    border-radius: 0;
    appearance: none;
    outline: none;
    border: none;
}

/* Section styling */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    position: relative;
    padding-right: .8em;
}

header nav a img {
    background-color: var(--hoofdkleur);
    height: 5.1em;
    box-shadow: var(--schaduw);
    width: 6.4em;
    margin: 0 0 0 .4em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

header nav ul {
    display: flex;

}

header nav ul li {
    padding: 0 1.1em
}

header nav ul li:first-of-type {
    border-right: 1px solid #ccc;
}

/* Slider section */
.main_slider {
    position: relative;
}

.main_slider ol:first-of-type {
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: scroll;
    width: 100%;
    height: 26em;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scroll-margin: 3.7rem 0 0 0;
}

.main_slider ol::-webkit-scrollbar {
    display: none;
}

.main_slider ol:first-of-type li {
    scroll-snap-align: start;
    scroll-margin: 3.7rem 0 0 0;
    /*    scroll-snap-margin-top: 3.7rem;*/
    min-width: 100%;
    position: relative;
    height: 26em;
}

.main_slider ol:first-of-type li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main_slider ol:first-of-type li:first-of-type h1 {
    color: var(--contrastkleur);
    position: absolute;
    left: 2.5rem;
    top: 1.2rem;
}

.main_slider ol:first-of-type li:first-of-type p {
    color: var(--contrastkleur);
    position: absolute;
    left: 2.5rem;
    top: 4rem;
    font-size: 1.3em;
    width: 85%;
    line-height: 1.3em;
}

.main_slider ol:first-of-type li h1::before {
    content: ">";
    color: var(--contrastkleur6);
    position: absolute;
    left: -.7em;
}

.main_slider ol:first-of-type li h1 {
    color: var(--hoofdkleur);
    position: absolute;
    left: 2.5rem;
    bottom: 4rem;
}

.main_slider ol:first-of-type li p {
    color: var(--hoofdkleur);
    position: absolute;
    left: 2.5rem;
    bottom: 2.5rem;
    font-size: 1.3em;
    width: 90%;
    line-height: 1.3em;
}

/* Bolletjes main slider */

.main_slider ol:last-of-type {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: .8em;
}

.main_slider ol:last-of-type li {
    background-color: var(--contrastkleur7);
    width: .5em;
    height: .5em;
    border-radius: 50%;
    margin: .5em;
    /*    cursor: pointer;*/
}

.main_slider ol:last-of-type li a {
    width: 100%;
    height: 100%;
    display: block;
}

.main_slider ol li.slider_active {
    background-color: var(--contrastkleur6);
    cursor: default;
}

/* Modellen section */

.modellen ul {
    display: flex;
    flex-wrap: wrap;
}

.modellen ul li {
    flex-basis: 50%;
    position: relative;
    cursor: pointer;
}

.modellen ul li img {
    width: 100%;
    height: 100%;
}

.modellen ul li h3::before {
    content: ">";
    color: var(--contrastkleur6);
    position: absolute;
    left: -.7em;
}

.modellen ul li:hover h3 {
    color: var(--contrastkleur6);
}

.modellen ul li h3 {
    color: var(--hoofdkleur);
    position: absolute;
    bottom: 3em;
    left: 2.5rem;
    transition: color .3s;
}

.modellen ul li p {
    color: var(--hoofdkleur);
    position: absolute;
    bottom: 1em;
    left: 2.5rem;
    font-size: 0.8em;
    width: 8rem;
}


/* Actueel section*/

.actueel {
    padding: var(--mainpadding);
    position: relative;
}

.actueel h2 {
    padding: var(--headingpadding);
}

.actueel ol:first-of-type {
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    scrollbar-width: none;
}

.actueel ol:first-of-type::-webkit-scrollbar {
    display: none;
}

.actueel ol:first-of-type li {
    scroll-snap-align: start;
    min-width: 100%;
    transition: color .3s;
    cursor: pointer;
}

.actueel ol:first-of-type li:hover {
    color: var(--contrastkleur6);
}

.actueel ol:first-of-type li img {
    width: 100%;
}

.actueel ol:first-of-type li p::before {
    content: ">";
    color: var(--contrastkleur6);
    font-weight: 900;
    margin-right: .5em;
}


/* Bolletjes actueel slider */

.actueel ol:last-of-type {
    display: flex;
    justify-content: center;
    width: 100%;
}

.actueel ol:last-of-type li {
    background-color: var(--contrastkleur3);
    width: .5em;
    height: .5em;
    border-radius: 50%;
    margin: .5em;
    cursor: pointer;
}

.actueel ol li.slider_active {
    background-color: var(--contrastkleur6);
    cursor: default;
}


/* Porsche Social section */

.social {
    background-color: var(--contrastkleur2);
    color: var(--hoofdkleur);
    padding: var(--mainpadding);
    text-align: right;
}

.social h2 {
    padding: var(--headingpadding);
    text-align: left;
}

.social ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.social ul li {
    flex-basis: 50%;
    flex-grow: 1;
    padding: .1em;
}

.social ul li:first-of-type {
    flex-basis: 100%;
}

.social ul li img {
    width: 100%;
    height: 100%;
}

.social > a::before {
    content: ">";
    margin-right: .6em;
}

.social a {
    border: var(--border);
    padding: var(--btnpadding);
    color: var(--hoofdkleur);
    display: inline-block;
}

.social a:hover {
    border-color: var(--contrastkleur6);
    color: var(--contrastkleur6);
}

/* servide en advies section*/

.service_advies {
    padding: var(--mainpadding);
}

.service_advies h2 {
    padding: var(--headingpadding);
}

.service_advies ul {
    display: flex;
    flex-wrap: wrap;
    /*    flex-direction: row-reverse;*/
}

.service_advies ul li {
    position: relative;
    flex-grow: 1;
    height: 11em;
    cursor: pointer;
}

.service_advies ul li img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.service_advies ul li h3::before {
    content: ">";
    color: var(--contrastkleur6);
    position: absolute;
    left: -.7em;
}

.service_advies ul li h3 {
    position: absolute;
    left: 1em;
    bottom: 1em;
    color: var(--hoofdkleur);
    transition: color .3s;
}

.service_advies ul li:hover h3 {
    color: var(--contrastkleur6);
}

/* -------------------------------- Detail pagina --------------------------------*/

/* video */
.video {
    position: relative;
    height: 26rem;
}

.video video {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.video h1 {
    color: var(--hoofdkleur);
    position: absolute;
    bottom: 7.5rem;
    left: 1.5rem;
}

.video p {
    color: var(--hoofdkleur);
    position: absolute;
    bottom: 4.5rem;
    left: 1.5rem;
    width: 15rem;
    font-size: 1.2rem
}

/* navigatie pagina*/

.pagina_navigatie {
    position: sticky;
    top: -1px;
    z-index: 1000;
    background-color: var(--hoofdkleur);
    height: 3.75rem;
    box-shadow: var(--schaduw2);
}

.pagina_navigatie ol {
    display: flex;
    overflow-x: scroll;
    padding: 0 1.5em;
    align-items: center;
    height: 100%;
    scrollbar-width: none;
    /*    box-shadow: var(--schaduw2);*/
}

.pagina_navigatie ol::-webkit-scrollbar {
    display: none;
}

.pagina_navigatie ol li {
    padding-right: 2em;
    flex-shrink: 0;
}

/* Over 718 */

.over_718 {
    background-color: var(--contrastkleur8);
}

.over_718 h2 {
    padding-bottom: 0;
}

.over_718 h2:first-of-type {
    font-size: 1.75em;
}

.over_718 p {
    padding: .4rem 1.5rem 1.5rem 1.5rem;
}

.over_718 h3 {
    padding: var(--mainpadding);
}

/* Foto slider */

.over_718 ol:first-of-type {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-margin: 3.7rem 0 0 0;
}

.over_718 ol:first-of-type::-webkit-scrollbar {
    display: none;
}

.over_718 ol:first-of-type li {
    scroll-snap-align: start;
    position: relative;
    padding-left: 1.5rem;
}

.over_718 ol:first-of-type li:not(:first-of-type) {
    margin-left: -1em;
}

.over_718 ol:first-of-type li:last-of-type::after {
    content: "";
    position: absolute;
    width: 1.5em;
    height: 1em;
    left: 100%;
    top: 0;
    user-select: none;
}

.over_718 ol:first-of-type li img {
    width: calc(100vw - 3em);
}

/* Bolletjes slider */

.over_718 ol:last-of-type {
    display: flex;
    justify-content: center;
    width: 100%;
}

.over_718 ol:last-of-type li {
    background-color: var(--contrastkleur3);
    width: .5em;
    height: .5em;
    border-radius: 50%;
    margin: .5em;
    cursor: pointer;
}

.over_718 ol li.slider_active {
    background-color: var(--contrastkleur6);
    cursor: default;
}


/* 360 ervaring */

.ervaring_360 {
    scroll-margin: 3.7rem 0 0 0;
}

.ervaring_360 > h2 {
    padding-bottom: 2.5em;
}

.ervaring_360 ul {
    display: flex;
    z-index: 1;
    position: absolute;
    left: 1.5em;
    top: 6em;
}

.ervaring_360 ul li a {
    padding: var(--btnpadding);
    background-color: var(--hoofdkleur);
    box-shadow: var(--schaduw3);
}

.ervaring_360 ul li a.active {
    color: var(--hoofdkleur);
    background-color: var(--contrastkleur6);
}

.ervaring_360 div {
    position: relative;
    height: 30rem;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.ervaring_360 div img:first-of-type {
    min-width: 100%;
    display: block;
}

.ervaring_360 div img:last-of-type {
    width: 3.5em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
}

/* afbeelding overlay */
.ervaring_360 div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.ervaring_360 div h2 {
    text-align: center;
    color: var(--hoofdkleur);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 45%
}


/* Modellen */
.varianten {
    height: 15em;
    scroll-margin: 3.7rem 0 0 0;
}

.varianten > div {
    height: 10em;
    width: 17.5em;
    background-color: var(--contrastkleur8);
    position: relative;
    left: 1.5em;
    top: 7em;
    z-index: 1;
}

.varianten div img {
    position: absolute;
    width: 15em;
    left: 50%;
    transform: translateX(-50%);
    top: -50%;
}

.varianten div h3 {
    padding-top: 2.6em;
    text-align: center;
}

.varianten div p {
    text-align: center;
}

.varianten_btns {
    display: none;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0;
}

.varianten_btns a {
    color: var(--contrastkleur9);
    padding: .5rem 0;
}


/* Data */
.data {
    background-color: var(--contrastkleur);
    padding: 0 1.5rem;
    overflow-x: hidden;
    scroll-margin: 3.7rem 0 0 0;
}

.data > img {
    position: absolute;
    top: 5%;
    left: 55%;
    height: 90%;
}

.data h2 {
    color: var(--hoofdkleur);
    font-size: 1.75em;
    padding: 2em 0 .7em 0;
    position: relative;
}

.data h3 {
    color: var(--contrastkleur5);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: .3em;
}

/* WLTP */

.wltp {
    display: flex;
}

.wltp li {
    display: flex;
    color: var(--hoofdkleur);
    margin-right: 1.25em;
    z-index: 1;
}

.wltp li img {
    width: 2.5em;
    height: 2.5em;
    margin-right: .5em;
    /*    border: 1px solid white;*/
    border-radius: 50%;
    padding: .3em;
    box-shadow: 0 0 0 1px white;
}

.wltp li p span {
    display: block;
    font-size: .635em;
    margin-top: -.5em;
}

/* Gegevens */

.gegevens {
    margin-top: 1.5em;
    position: relative;
}

.gegevens li {
    color: var(--hoofdkleur);
    margin-top: .6em;
}

.gegevens li span {
    display: block;
    color: var(--contrastkleur5)
}

.data > a {
    border: var(--border);
    padding: var(--btnpadding);
    color: var(--hoofdkleur);
    display: inline-block;
    margin: 2em 0;
}

.data > a:hover {
    border-color: var(--contrastkleur6);
    color: var(--contrastkleur6);
}

.data > a::before,
.configurator > div > a::before {
    content: ">";
    margin-right: .6em;
}

/* Configurator */

.configurator {
    padding: var(--mainpadding);
    scroll-margin: 3.7rem 0 0 0;
    user-select: none;
}

.configurator h2 {
    padding: var(--headingpadding);
}

.configurator > img {
    width: 100%;
}

.configurator > ul > li {
    position: relative;
    cursor: pointer;
    user-select: none;
}


.configurator > ul > li > span {
    font-size: 1.25rem;
    font-weight: 600;
    border-top: var(--border);
    padding: .25em 0;
    width: 100%;
    display: block;
}

.configurator > ul > li:first-of-type > span {
    border-top: none;
    user-select: none;
}

.configurator > ul > li:last-of-type > span {
    border-bottom: var(--border);
}

.configurator > ul > li > span::after {
    content: "↓";
    position: absolute;
    right: 0;
    /*    top: .7em;*/
}

/* Items wanneer uitgeklapt */
.configurator div span {
    font-weight: 300;
    font-size: 1rem;
}

.config_items {
    display: flex;
    margin: .3em 0 .5em 0;
    user-select: none;
}

.config_items li {
    width: 3.75rem;
    height: 3.75rem;
    display: block;
    background-color: black;
    margin-right: .1em;
    user-select: none;
}

.velgen li {
    width: 5em;
    height: 5em;
}

.velgen img {
    width: 100%;
    height: 100%;
}

.clr_selected, .int_selected {
    transform: scale(1.1);
    box-shadow: 0 0 0.25rem 0 rgba(0,0,0,0.7);
}

/*
.clr_selected::after {
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: var(--contrastkleur6);
    color: white;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}
*/

/* kleuren opties 1 */
.kleur_1 li:nth-of-type(1) {
    background-color: rgb(239, 239, 239);
}

.kleur_1 li:nth-of-type(2) {
    background-color: rgb(0, 0, 0)
}

.kleur_1 li:nth-of-type(3) {
    background-color: rgb(204, 0, 51)
}

.kleur_1 li:nth-of-type(4) {
    background-color: rgb(255, 204, 0)
}

/* kleur opties 2*/

.kleur_2 li:nth-of-type(1) {
    background-color: rgb(239, 245, 249)
}

.kleur_2 li:nth-of-type(2) {
    background-color: rgb(204, 204, 204)
}

.kleur_2 li:nth-of-type(3) {
    background-color: rgb(0, 25, 75)
}

/* kleur opties 3 */
.kleur_3 li:nth-of-type(1) {
    background-color: rgb(199, 199, 191)
}

.kleur_3 li:nth-of-type(2) {
    background-color: rgb(60, 147, 67)
}

.config_items .interieur_kleur_1,
.config_items .interieur_kleur_2,
.config_items .interieur_kleur_3 {
    display: flex;
}

/* interieur kleur 1 */
.interieur_kleur_1 span:first-of-type {
    flex: 2;
    background-color: black
}

.interieur_kleur_1 span:last-of-type {
    flex: 1;
    background-color: rgb(102, 102, 102);
}

/* interieur kleur 2 */
.interieur_kleur_2 span:first-of-type {
    flex: 2;
    background-color: black
}

.interieur_kleur_2 span:last-of-type {
    flex: 1;
    background-color: rgb(255, 204, 0);
}

/* interieur kleur 3 */
.interieur_kleur_3 span:first-of-type {
    flex: 2;
    background-color: black
}

.interieur_kleur_3 span:last-of-type {
    flex: 1;
    background-color: rgb(204, 0, 51);
}


/*  uitgevouwd */
.config_content {
    display: none;
}

.config_uitgevouwd .config_content {
    display: block;
}

.config_uitgevouwd .interieur {
    display: flex;
}

.configurator .config_uitgevouwd > span::after {
    content: "↑";
}

.configurator > div > a {
    background-color: var(--contrastkleur9);
    color: var(--hoofdkleur);
    padding: var(--btnpadding);
    display: inline-block;
    margin: 2em 0;
    /*    margin-top: 2em;*/
}

.center {
    text-align: center;
}

/* Contact */
.contact {
    background-color: var(--contrastkleur8);
    padding: var(--mainpadding);
    scroll-margin: 3.7rem 0 0 0;
}

.contact h2 {
    padding: var(--headingpadding);
}

.contact a {
    margin-top: 1.5em;
    border: 1px solid var(--contrastkleur3);
    padding: var(--btnpadding);
    display: inline-block;
}

/* drop-down links */

.related_links {
    padding: var(--mainpadding);
}

/* links ingeklapt */
.links {
    margin-bottom: 3em;
}

.links > li:first-of-type span {
    border-top: var(--border);
}

.links > li {
    position: relative;
    cursor: pointer;
}

.links > li > span {
    padding: .7em 0;
    font-size: 1.1em;
    font-weight: 600;
    border-bottom: var(--border);
    display: block;
    /*    position: relative;*/
    width: 100%;
}

.links > li > span::after {
    content: "↓";
    position: absolute;
    right: 0;
    top: .7em;
}

/* Dropdown uitgevouwd */

.links .links_uitgevouwd ul {
    display: block;
}

.links .links_uitgevouwd span::after {
    content: "↑";
}


/* links uitgeklapt */

.links ul li {
    font-weight: 300;
    padding: 1em 0;
}

.links ul li:hover {
    color: var(--contrastkleur6)
}

.links ul {
    display: none;
}

/* Iconen lijst */

.related_links h4 {
    color: var(--contrastkleur5);
}

.icons {
    display: flex;
}

.icons li {
    background-color: var(--contrastkleur3);
    width: 3.1em;
    height: 3.1em;
    margin-right: .5em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
    cursor: pointer;
}

.icons li:nth-of-type(1):hover {
    background-color: #2753a7;
}

.icons li:nth-of-type(2):hover {
    background-color: #cd201f;
}

.icons li:nth-of-type(3):hover {
    background-color: #55acee;
}

.icons li:nth-of-type(4):hover {
    background-color: #cd242b;
}

.icons li:nth-of-type(5):hover {
    background-color: #0274b3;
}

.icons li img {
    width: 1.5em;
}

/* Disclamer */

.disclamer {
    padding: var(--mainpadding);
    background-color: var(--contrastkleur4);
    color: var(--hoofdkleur);
}

.regio_form {
    margin-bottom: 1.5em;
}

.regio_form label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 1.5rem;
}

.regio_form select {
    width: 100%;
    padding: .8em;
    background-color: var(--contrastkleur3);
    margin-bottom: .5em;
    cursor: pointer;
}

.disclamer p {
    margin-bottom: 1.5em;
}

.disclamer a {
    color: var(--hoofdkleur);
    text-decoration: underline;
}



/* Breakpoints */
@media all and (min-width: 30em) {

    /*    Variabelen & generieke styling   */
    :root {
        --mainpadding: 2rem;
        --headingpadding: 0 0 2rem 0;
    }

    /*  Actueel slider  */
    .actueel ol:first-of-type li {
        min-width: 50%;
    }

    /*  Detailpagina  */

    .video h1 {
        left: 2rem;
    }

    .video p {
        left: 2rem;
    }

    .pagina_navigatie ol {
        padding: 0 2rem;
    }

    .over_718 p {
        padding: .4rem 2rem 2rem 2rem;
    }

    .over_718 ol:first-of-type li {
        padding-left: 2rem;
    }

    .over_718 ol:first-of-type li img {
        width: calc(100vw - 4em);
    }

    .ervaring_360 ul {
        top: 7rem;
        left: 2rem;
    }

    .ervaring_360 div {
        height: 100%;
    }

    .varianten {
        height: 25rem;
    }

    .varianten > div {
        left: 2rem;
        width: 22.5rem;
        height: 15rem;
        top: 12rem;
    }

    .varianten div img {
        width: 20rem;
    }

    .varianten_btns {
        display: flex;
    }

    .data {
        padding: 0 2rem;
    }
}



@media all and (min-width: 60em) {

    /*    Variabelen  */
    :root {
        --mainpadding: 2rem 4rem;
    }

    /*  Generieke styling & fonts   */

    h1 {
        font-size: 2.625rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 2rem;
    }

    .service_advies ul li h3 {
        font-size: 1.25rem;
    }

    /*  Paragraven  */
    .main_slider ol:first-of-type p {
        font-size: 1.5rem;
    }

    .main_slider ol:first-of-type li:first-of-type p {
        font-size: 1.5rem;
    }

    .modellen ul li p {
        font-size: 1.125rem;
    }

    /*  Main slider  */
    .main_slider ol:first-of-type li:first-of-type h1 {
        left: 4rem;
    }

    .main_slider ol:first-of-type li h1 {
        left: 4rem;
    }

    .main_slider ol:first-of-type li:first-of-type p {
        left: 4rem;
        top: 5rem;
    }

    .main_slider ol:first-of-type li p {
        left: 4rem;
    }

    /*  Modellen  */
    .modellen ul li {
        height: 25rem;
    }

    .modellen ul li img {
        object-fit: cover;
    }

    .modellen ul li p {
        width: 90%;
        left: 1rem;
        top: 4rem;
        font-weight: 600;
    }

    .modellen ul li h3 {
        top: 1rem;
        left: 1rem;
    }

    /*  Actueel slider  */
    .actueel ol:first-of-type li {
        min-width: 25%;
    }

    .actueel ol:last-of-type {
        display: none;
    }

    .modellen ul li h3::before {
        display: none;
    }

    /*  Social  */
    .social ul li,
    .social ul li:first-of-type {
        flex-basis: 33%;
    }

    /*  Service & advies  */
    .service_advies ul li {
        height: 15rem;
    }

    /*  Detailpagina  */
    .video h1 {
        bottom: 6rem;
        left: 4rem;
    }

    .video p {
        width: auto;
        font-size: 1.375rem;
        left: 4rem;
    }

    .pagina_navigatie ol {
        padding: 0 4rem;
    }

    .over_718 p {
        padding: .4rem 8rem 4rem 4rem;
    }

    .over_718 ol:first-of-type,
    .over_718 ol:last-of-type {
        width: 25rem;
    }

    .over_718 ol:first-of-type li {
        padding-left: 0;
    }

    .over_718 ol:first-of-type li:not(:first-of-type) {
        margin: 0;
    }

    .over_718 ol:first-of-type li img {
        width: 25rem
    }

    .over_718 {
        display: flex;
        flex-wrap: wrap;
    }

    .over_718_txt_1 {
        flex-basis: 50%;
        order: 1;
        transform: translateY(25%);
    }

    .over_718_img_1 {
        flex-basis: 50%;
        padding: 3rem 0;
        order: 2;
    }

    .over_718_txt_2 {
        flex-basis: 40%;
        order: 4;
        transform: translateY(20%);
    }

    .over_718 .over_718_txt_2 h2,
    .over_718 .over_718_txt_3 h3 {
        font-size: 1.5rem;
    }

    .over_718_txt_2 p {
        padding-right: 4rem;
    }

    .over_718_img_2 {
        flex-basis: 60%;
        order: 3;
    }

    .over_718_txt_3 {
        flex-basis: 40%;
        order: 5;
        transform: translateY(40%);
    }

    .over_718_img_3 {
        flex-basis: 60%;
        order: 6;
        height: 21rem;
        overflow: hidden;
        margin-top: 5rem;
        position: relative;
    }

    .over_718_img_3 video {
        object-fit: cover;
        position: absolute;
        top: -40%
    }


    .ervaring_360 ul {
        left: 4rem;
    }

    .ervaring_360 div {
        height: 26rem;
        position: relative;
    }

    .ervaring_360 div img:first-of-type {
        top: -140%;
        position: absolute;
        z-index: -1;
    }

    .varianten > div {
        width: 35rem;
        left: 4rem;
    }

    .varianten div img {
        width: 30rem;
        top: -75%;
    }

    .varianten div h3 {
        font-size: 1.25rem;
        padding-top: 6rem;
    }

    .varianten_btns {
        flex-direction: row;
        justify-content: center;
    }

    .varianten_btns a {
        padding: .5rem 1rem;
    }

    .data {
        padding: 0 4rem;
    }

    .data h2 {
        font-size: 2.6rem;
        padding: 3rem 0 2rem 0
    }

    .gegevens {
        width: 25rem;
        margin-top: 3rem;
    }

    .gegevens li p {
        font-size: 1.625rem;
        font-weight: 600;
        padding-bottom: .5rem;
        display: flex;
        position: relative;
        justify-content: flex-end;
        ;
        width: 11rem;
    }

    .gegevens li p span {
        font-size: 1rem;
        font-weight: 400;
        position: absolute;
        left: 12rem;
        text-align: left;
        width: 15rem;
    }

    #configurator .center {
        text-align: left;
        margin: 1rem 0;
    }

    /*    Footer */
    .links {
        display: flex;
        flex-wrap: wrap;
        border-top: var(--border);
        padding-top: 1rem;
    }

    .links li {
        flex-basis: 50%;
        cursor: default;
    }

    .links ul {
        display: block;
    }

    .links ul li {
        cursor: pointer;
    }

    .links > li > span,
    .links > li:first-of-type span {
        border: none;
    }

    .links > li > span::after {
        display: none;
    }

    .related_links {
        padding-bottom: 8rem;
    }

    .related_links h4 {
        position: absolute;
        left: 50%;
        display: inline;
        bottom: 6rem;
    }

    .icons {
        position: absolute;
        left: 50%;
        bottom:2.5rem;
    }


    .regio_form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .regio_form label {
        flex-basis: 100%;
    }

    .regio_form select {
        flex-basis: 49.5%;
        
    }

}



@media all and (min-width: 90em) {

    /*    Variabelen & generieke styling   */
    :root {
        --mainpadding: 2rem 6rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2.125rem;
    }

    .service_advies ul li h3 {
        font-size: 1.25rem;
    }


    /*  Paragraven  */
    .main_slider ol:first-of-type p {
        font-size: 1.625rem;
    }

    .main_slider ol:first-of-type li:first-of-type p {
        font-size: 1.625rem;
    }

    .modellen ul li p {
        font-size: 1.25rem;
    }


    /*  Main slider  */
    .main_slider ol:first-of-type {
        height: 35rem;
    }

    .main_slider ol:first-of-type li {
        height: 35rem;
    }

    /*  Modellen  */
    .modellen ul li {
        flex-basis: 33.333%;
    }

    /*  Service & advies  */
    .service_advies ul li {
        height: 20rem;
    }

    /*  Detailpagina  */
    .video {
        height: 36rem;
    }

    .video h1 {
        left: 6rem;
    }

    .video p {
        left: 6rem;
    }

    .pagina_navigatie ol {
        padding: 0 6rem;
        font-size: 1.125rem;
    }

    .pagina_navigatie ol li {
        padding-right: 2.5rem;
    }

    .over_718 p {
        padding: .4rem 0rem 0rem 6rem;
    }

    .over_718 ol:first-of-type,
    .over_718 ol:first-of-type li img,
    .over_718 ol:last-of-type {
        width: 32rem;
    }

    #over .over_718_txt_1 h2 {
        font-size: 3rem;
    }

    .over_718_txt_1 p:first-of-type {
        width: 70%;
    }

    .over_718_txt_2 p:first-of-type {
        width: 80%;
    }

    .over_718_img_3 {
        height: 30rem;
    }

    .over_718_txt_3 {
        transform: translateY(45%);
    }

    .ervaring_360 ul {
        left: 6rem;
    }

    .ervaring_360 div {
        height: 50rem;
    }

    .ervaring_360 div img:first-of-type {
        top: -80%;
    }

    .varianten > div {
        left: 6rem;
    }

    .data {
        padding: 0 6rem;
    }

    .data > img {
        left: 40%;
    }

    #configurator {
        display: flex;
        flex-wrap: wrap;
    }



    #configurator > h2 {
        flex-basis: 100%;
    }

    #configurator > img {
        flex-basis: 65%;
        flex-shrink: 0;
        max-width: 65%;
        margin-right: 3rem;

    }

    #configurator > ul {
        flex-basis: 30%;
    }


    /*  footer  */
    .links li {
        flex-basis: 25%;
    }

    .related_links h4 {
        left: 72%;
    }

    .icons {
        left: 72%;
    }


    .regio_form {
        justify-content: flex-start
    }

    .regio_form select {
        flex-basis: 25%;
        margin-right: 1rem;
    }
}
